/* .container {
  padding: 2rem 0rem;
} */

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image td,
th {
  vertical-align: middle;
}
.btnn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
/* .btnnn:hover {
  background-color: rgb(44, 228, 37);
}
.btna:hover {
  background-color: rgb(195, 155, 36);
} */
